# https://docs.gitlab.com/ee/ci/yaml/workflow.html
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/
      when: never
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_REF_PROTECTED == "true"
    - if: $CI_PIPELINE_SOURCE == "schedule"

default:
  interruptible: false
  tags:
    - nexgen-700575310619

stages: [build, "publish"]

include:
  - component: $CI_SERVER_FQDN/enterprise-gitlab-ci-cd-components/maven/maven@v1.2.0
    inputs:
     build-image: nexus-docker.enterprise-tools.aws.delta.com/ubi8/openjdk-8:latest
     cli-bin: 'mvn'
     publish: enabled
